{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% block title %}
<title>一达人力资源_管理系统</title>
{% endblock %}

{% block css %}
<link href="{% static "style/reset.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/public.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/lhgcalendar.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_css %}
{% endblock %}

</head>

<body>
    <div class="top-area">
        <div class="top">
            <span class="rt" id="hl1"></span>           
            <span id="hl2">
                Hi，{{ user.account.name }}&nbsp;&nbsp;&nbsp;角色：[{% if user.account.level == 0%}系统管理员{% elif user.account.level == 1%}公司用户{% elif user.account.level == 2%}后台管理员{% endif %}]&nbsp;&nbsp;<a href="/logout/">退出</a>
            </span>
        </div>
    </div><!--top-area-->
    
    <div class="logo-area">
        <div class="admin_logo"></div>
    </div><!--logo-area-->

    <div class="wrapper">   
        <div class="w-left">
                    <ul class="big_txt_inner" style="{% block labour_none %}{% endblock %}">
                        <li title="账号管理">
                            <a href="javascript:;" class="small_txt"><i></i>账号管理</a>
                            <ul class="w-left-inner" style="{% block account %}{% endblock %}">
                                <li class="inner_txt {% block update %}{% endblock %}"><a href="{% url "manager.views.update" %}" title="账号管理" style="color:#222222;">账号管理</a></li>
                                <li class="inner_txt {% block add %}{% endblock %}"><a href="{% url "manager.views.add" %}" title="账号分配" style="color:#222222;">账号分配</a></li>
                                <li class="inner_txt {% block login %}{% endblock %}"><a href="{% url "manager.views.login_log" %}" title="登录历史" style="color:#222222;">登录历史</a></li>
                            </ul>
                        </li>
                
                        <li title="操作日志管理">
                           <a href="{% url "manager.views.user_action" %}" class="small_txt_tongji"><i></i>操作日志管理</a>
                           
                        </li>
                        <li title="邮件发送"><a href="{% url "manager.views.send_email" %}" class="small_txt_tongji">邮件发送</a></li>
                        <li title="修改密码"><a href="{% url "hr.views.reset_pwd" %}?role=0" class="small_txt_tongji">修改密码</a></li>
                    </ul>
        </div>
        {% block container %}
        {% endblock %}
    </div><!--wrapper-->
    
{% block script %}    
<script type="text/javascript" src="{% static "script/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/lhgcalendar.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/all.js" %}"></script>
<script type="text/javascript" src="{% static "script/verify.js" %}"></script>
{% endblock %}

{% block extra_script %}
{% endblock %}

</body>
</html>
