{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% block title %}
<title>一达人力资源_管理系统</title>
{% endblock %}

{% block css %}
<link href="{% static "style/reset.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/public.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "style/lhgcalendar.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_css %}
{% endblock %}

</head>

<body>
    <div class="top-area">
        <div class="top">
            <span class="rt" id="hl1"></span>           
            <span id="hl2">
                Hi，{{ user.account.name }}&nbsp;&nbsp;&nbsp;角色：[{% if user.account.level == 0%}系统管理员{% elif user.profile.level == 1%}公司用户{% elif user.profile.level == 2%}后台管理员{% endif %}]&nbsp;&nbsp;<a href="/logout/">退出</a>
            </span>
        </div>
    </div><!--top-area-->
    
    <div class="logo-area">
        <div class="logo"></div>
    </div><!--logo-area-->

    <div class="wrapper">   
        <div class="w-left">
              <ul>
                <li><a href="javascript:;" class="big_txt"><span class="logo_small_one"></span>劳务管理</a>
                    <ul class="big_txt_inner" style="{% block labour_none %}{% endblock %}">
                        <li title="劳务信息登记">
                            <a href="javascript:;" class="small_txt"><i></i>劳务信息登记</a>
                            <ul class="w-left-inner" style="{% block add %}{% endblock %}" >
                                <li class="inner_txt {% block company_add %}{% endblock %}"><a href="{% url "labour.views.company_add" %}" title="公司录入" style="color:#222222;">公司录入</a></li>
                                <li class="inner_txt {% block employee_add %}{% endblock %}"><a href="{% url "labour.views.employee_add" %}" title="手动录入" style="color:#222222;">员工录入</a></li>
                                <li class="inner_txt {% block employee_import %}{% endblock %}"><a href="/labour/import/" title="批量录入" style="color:#222222;">批量录入</a></li>
                            </ul>
                        </li>
                
                        <li title="劳务信息查询">
                           <a href="javscript:;" class="small_txt"><i></i>劳务信息查询</a>
                           <ul class="w-left-inner" style="{% block search %}{% endblock %}">
                               <li class="inner_txt {% block company_search %}{% endblock %}"><a href="{% url "labour.views.companys" %}" title="单位查询" style="color:#222222;">单位查询</a></li>
                               <li class="inner_txt {% block employee_search %}{% endblock %}"><a href="/labour/employees/" title="个人查询" style="color:#222222;">个人查询</a></li>
                           </ul>
                        </li>
                        <li title="劳务信息统计"><a href="/labour/statistics/all/" class="small_txt_tongji">劳务信息统计</a></li>
                        <li title="历史劳务信息查询"><a href="/labour/history/" class="small_txt_tongji" style="text-indent:42px;">历史劳务信息查询</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" class="big_txt" style="{% block property %}{% endblock %}" ><span class="logo_small_two"></span>财务管理</a>
                    <ul style="{% block company_property %}display:none;{% endblock %}" class="big_txt_inner" >
                        <li title="企业资金管理"><a href="/company/property/" class="small_txt_tongji" id="property_m">企业资金管理</a></li>
                        <li title="工资管理">
                            <a class="small_txt" style="text-indent:75px;"><i></i>工资管理</a>
                            <ul class="w-left-inner">
                                <li class="inner_txt"><a href="/company/salary/" title="查询" style="color:#222222;margin-left:15px;">查询</a></li>
                                <li class="inner_txt"><a href="bulk_modify.html" title="批量修改" style="color:#222222;">批量修改</a></li>
                            </ul>
                        </li>
                        <li title="社保资金管理">
                            <a href="javascript:;" class="small_txt">社保资金管理</a>
                            <ul class="w-left-inner">
                                <li class="inner_txt"><a href="bulk_modify.html" title="批量修改" style="color:#222222;">批量修改</a></li>
                            </ul>
                        </li>   
                    </ul>
                </li>
            </ul>
        </div>

        {% block container %}
        {% endblock %}
    </div><!--wrapper END-->

{% block script %}    
<script type="text/javascript" src="{% static "script/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/lhgcalendar.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/all.js" %}"></script>
<script type="text/javascript" src="{% static "script/verify.js" %}"></script>
<!-- <script type="text/javascript" src="{% static "script/bootstrap.min.js" %}"></script> -->
<script type="text/javascript">
    $("#property_m").click(function(){
        $("#labour_m").css('display', 'none');
    });
</script>
{% endblock %}

{% block extra_script %}
{% endblock %}

</body>
</html>