<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>浏览器版本过低警告</title>
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	background-image: url(http://chrisglass.com/img/gone.jpg);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 45px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Helvetica, Arial, sans-serif;
}
-->
</style></head>

<body>
<div align="right">
  <h2>非常抱歉！您的浏览器版本过低，</h2>
  <p>&nbsp;</p>
  <h2>严重影响到您使用本系统。</h2>
  <p>&nbsp;</p>
  <p>我们建议您使用现在最为安全的chrome（谷歌）浏览器</p>在这里我们为您提供了专用下载通道
  <p>您点击chrome（谷歌）图标后直接运行即可，安装过程时间消耗为3-5分钟</p>
  自动安装完成后会在桌面上自动出现出chrome（谷歌）浏览器图标
<p>点击<img src="/static/images/c.jpg"  style="width:90px;height:80px;"/>输入本系统网址后即可让您流畅使用本系统</p>
  <p>&nbsp;</p>
  点击右边后自动进行下载安装→<a href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandaloneSetup35.0.1916.114.1401167998.exe"><img src="/static/images/c.jpg"></a>
</div>
</body>
<script type="text/javascript">
  var b = false;
  if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.match(/6./i)=="6."){ 
    b = true;
  } else if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.match(/7./i)=="7."){ 
    b = true;
  } else if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.match(/8./i)=="8."){ 
    b = true;
  } 
  if(!b){
    window.location.href = '/login/';
  }

  
</script>
</html>
