{% extends 'base.html' %}
{% block property %}display:block {% endblock %} 
{% block labour_none %}display:none {% endblock %} 
{% block company_property %}display:block {% endblock %} 
{% block container %} 
        <div class="w-right">
            <div class="th-input" style="width:30%;">
	            <span>年份：</span><input type="text" class="txt_input calendar" id="startDate">
            </div>
            <table class="reg-info">
                <tr>
                    <th>月份</th>
                    <td>应到金额</td>
                    <td>实到金额</td>
                    <td>差额</td>
                </tr>
                <tr>
                    <th>1月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>2月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                <tr>
                    <th>3月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>4月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>5月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>6月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>7月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>8月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>9月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>10月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>11月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>12月</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <th>总计</th>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
        </div>
{% endblock %}