{% extends 'base.html' %}  
{% block add %} display:block {% endblock %} 
{% block company_add %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right">   
            <div class="th-y" style="border:none;">
                <div id="shoudong_two">
                    <div class="th-input" style="width:42%;">
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% endif %}

                  {% if form.name.errors %}
                    {% for error in form.name.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% elif form.address.errors %}
                    {% for error in form.address.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% elif form.email.errors %}
                    {% for error in form.email.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% elif form.link_man.errors %}
                    {% for error in form.link_man.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.link_man_mobile.errors %}
                    {% for error in form.link_man_mobile.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.service_cost.errors %}
                    {% for error in form.service_cost.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% endif %}

                 {% for message in messages %}
                    {% if 'company_update_succ' in message.tags %}
                    <div class="alert alert-block alert-success">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if 'company_add_succ' in message.tags %}
                    <div class="alert alert-block alert-success">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if 'company_add_exist' in message.tags %}
                    <div class="alert alert-error">
                        {{ message }}
                    </div>
                    {% endif %}
                  {% endfor %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <table>
                            <tr>
                              <td><span>公司名称:</span></td>
                              <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                              <td>公司地址:</td>
                              <td>{{ form.address }}</td>
                            </tr>
                            <tr>
                              <td>公司邮箱:</td>
                              <td>{{ form.email }}</td>
                            </tr>
                            <tr>
                              <td>联&nbsp;&nbsp;系&nbsp;&nbsp;人:</td>
                              <td>{{ form.link_man }}</td>
                            </tr>
                            <tr>
                              <td>联系人电话:</td>
                              <td>{{ form.link_man_mobile }}</td>
                            </tr>
                            <tr>
                              <td>服务费:</td>
                              <td>{{ form.service_cost }}</td>
                            </tr>
                            </table>
                            <button type="submit" class="return_button">保存</button>
                        </form>
                    </div>
                </div>               
            </div>               
        </div>
    </div><!--wrapper END-->
{% endblock %}
