{% extends 'base.html' %}  
{% block search %} display:block {% endblock %} 
{% block company_search %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right">
        	<div class="th-input" style="width:42%">
                <span>单位名称：</span><input class="txt_input" type="text" name="id"/>
                <button>查询</button>
            </div> 
            <table class="reg-info">
                <tr>
                    <th><button style="margin:5px 0.1em 5px 0px;" class="select_first">全选</button></th>
                    <td>公司名称</td>
                    <td>地址</td>
                    <td>详情</td>
                </tr>
                {% for company in companys %}
            	<tr>
                    <th><button style="margin:5px 0.1em 5px 0px;" class="select_first">全选</button></th>
                    <td>{{ company.name }}</td>
                    <td>{{ company.address|slice:':6' }}...</td>
                    <td><a href="/labour/company/{{company.id}}/update/"><button type="button">员工详情</button></a></td>
                </tr>
                {% endfor %}
            </table>  
            <div class="pager">
               <span class="fr">
                   <button>导出</button>
                   <button>缴费管理</button>
               </span>
               {% if companys.paginator.num_pages > 1 %}
               <div class="pagination" style="width: 452px">
                    <ul class="clearfix">
                        {% with distance=4 %}
                        {% if companys.has_previous %}
                        <li>
                            <a href="?page={{ companys.previous_page_number }}">&lt;&lt;</a>
                        </li>
                        {% endif %}

                        {% if companys.number > distance|add:1 %}
                        <li><a href="?page=1">1</a></li>
                        <li> . . . </li>
                        {% endif %}

                        {% for num in page_numbers %}
                        {% if num ==  companys.number %}
                        <li class="active"><a href="###">{{ companys.number }}</a></li>
                        {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if companys.paginator.num_pages > companys.number|add:distance %}
                        <li> . . . </li>
                        <li><a href="?page={{ companys.paginator.num_pages }}">{{ companys.paginator.num_pages }}</a></li>
                        {% endif %}
                        
                        {% if companys.has_next %}
                        <li class="last">
                            <a href="?page={{ companys.next_page_number }}">&gt;&gt;</a>
                        </li>
                        {% endif %}
                        {% endwith %}
                    </ul>
               </div>

               {% endif %}
            </div>               
        </div>
    </div><!--wrapper END-->
{% endblock %}