{% extends 'base.html' %}
{% load staticfiles %}  
{% block search %} display:block {% endblock %} 
{% block company_search %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right" id="top">
        	<div class="th-input" style="width:42%">
                <form action='.' method="get">
                    <span>单位名称：</span><input class="txt_input" type="text" name="search"/>
                    <button type="submit">查询</button>
                </form>
            </div> 
            <table class="reg-info">
                <thead>
                    <th>公司名称</th>
                    <th>地址</th>
                    <th>员工总数(人)</th>
                    <th>详情</th>
                </thead>
                {% for company in companys %}
            	<tr >
                    <td style="height:40px;width:20%">{{ company.name }}</td>
                    <td style="width:25%">{{ company.address|slice:':6'|default:'无' }}...</td>
                    <td style="width:15%">{{ company.get_employee_count }}</td>
                    <td>
                        <a href="/labour/company/{{company.id}}/show/"><button type="button">公司详情</button></a>
                        <a href="/labour/{{company.id}}/employees/"><button type="button">员工详情</button></a>
                        <button type="button" class="company_export" value="{{ company.id }}">一键导出</button>
                    </td>
                </tr>
                {% endfor %}
                {% if not companys %}
                    <tr>
                      <td colspan='3' style="height:40px;color:red">未搜索到数据</td>
                    </tr>
                  {% endif %}
            </table>  
            <div class="pager">
               {% if companys.paginator.num_pages > 1 %}
               <div class="pagination" style="width: 452px">
                    <ul class="clearfix">
                        {% with distance=4 %}
                        {% if companys.has_previous %}
                        <li>
                            <a href="?page={{ companys.previous_page_number }}">&lt;&lt;</a>
                        </li>
                        {% endif %}

                        {% if companys.number > distance|add:1 %}
                        <li><a href="?page=1">1</a></li>
                        <li> . . . </li>
                        {% endif %}

                        {% for num in page_numbers %}
                        {% if num ==  companys.number %}
                        <li class="active"><a href="###">{{ companys.number }}</a></li>
                        {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if companys.paginator.num_pages > companys.number|add:distance %}
                        <li> . . . </li>
                        <li><a href="?page={{ companys.paginator.num_pages }}">{{ companys.paginator.num_pages }}</a></li>
                        {% endif %}
                        
                        {% if companys.has_next %}
                        <li class="last">
                            <a href="?page={{ companys.next_page_number }}">&gt;&gt;</a>
                        </li>
                        {% endif %}
                        {% endwith %}
                    </ul>
               </div>

               {% endif %}
            </div>               
        </div>
        <div class="colorbox3">
          <p>请选择要导出的条目</p>
          <br>
          <form action="{% url 'labour.views.labour_export'%}?export=true" method="post" id="select_form">
            {% csrf_token %}
              <input type="hidden" name="employees_id" id="select_id"/>
              <input type="hidden" name="company_id" id="export_company_id"/>
              <input type="hidden" name="item" id="item_id"/>
              <input type="hidden" name="export" value="yes"/>
              <input type="checkbox" name="items" value='serial_id' style="margin-left:20px" checked/>序列号 
              <input type="checkbox" name="items" value='name' checked/>姓名 
              <input type="checkbox" name="items" value='id_no' checked/>身份证 
              <input type="checkbox" name="items" value='email'/>邮箱 
              <input type="checkbox" name="items" value='sex'/>性别 
              <input type="checkbox" name="items" value='birth'/>出生日期 
              <input type="checkbox" name="items" value='edu_level'/>文化程度 
              <input type="checkbox" name="items" value='graduate'/>毕业院校 
              <br>
              <input type="checkbox" name="items" value='profession' style="margin-left:20px"/>专业 
              <input type="checkbox" name="items" value='residence_type'/>户口类型 
              <input type="checkbox" name="items" value='residence_place'/>户籍行政区 
              <input type="checkbox" name="items" value='now_address'/>住址 
              <input type="checkbox" name="items" value='emergency_name'/>紧急联系人 
              <input type="checkbox" name="items" value='emergency_mobile'/>紧急联系人电话 
              <br><br>
              <input type="checkbox" name="items" value='fire' style="margin-left:20px"/>解雇信息 
              <input type="checkbox" name="items" value='contract'/>合同信息 
              <input type="checkbox" name="items" value='company'/>公司信息 
              <input type="checkbox" name="items" value='yliao'/>医疗保险信息 
              <input type="checkbox" name="items" value='syu'/>生育保险信息
              <br>
              <input type="checkbox" name="items" value='gshang' style="margin-left:20px"/>工伤保险信息 
              <input type="checkbox" name="items" value='sye'/>失业保险信息 
              <input type="checkbox" name="items" value='gjj'/>公积金保险信息 
              <input type="checkbox" name="items" value='ylao'/>养老保险信息 

              <div class="colorbox_button3" style="margin-top:20px">
                  <a href="javascript:;" title="确认" id="company_export_sure" >确认</a>
                  <a href="javascript:;" title="关闭" id="close">关闭</a>
              </div>
              <div class="colorbox_delete3"></div>
          </form>
        </div>          
    </div>
    </div><!--wrapper END-->
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static "script/export.js" %}"></script>
{% endblock %}