{% extends 'base.html' %}  
{% block add %} display:block {% endblock %} 
{% block employee_add %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right"> 
            <div class="th-y" style="border:none;">
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% endif %}

                  {% if form.serial_id.errors %}
                    {% for error in form.serial_id.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.name.errors %}
                    {% for error in form.name.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.id_no.errors %}
                    {% for error in form.id_no.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.fired_date.errors %}
                    {% for error in form.fired_date.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% elif form.fired_reason.errors %}
                    {% for error in form.fired_reason.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% elif form.mobile.errors %}
                    {% for error in form.mobile.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% elif form.birth.errors %}
                    {% for error in form.birth.errors %}
                      <div class="alert alert-error">
                        {{ error }}
                      </div>
                    {% endfor %}

                  {% endif %}

                 {% for message in messages %}
                    {% if 'employee_update_succ' in message.tags %}
                    <div class="alert alert-block alert-success">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if 'employee_add_succ' in message.tags %}
                    <div class="alert alert-block alert-success">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if 'employee_add_exist' in message.tags %}
                    <div class="alert alert-error">
                        {{ message }}
                    </div>
                    {% endif %}
                  {% endfor %}
                <form action='.' method="post">
                    <div style="border: #b6c0c9 1px solid;padding-bottom: 5px;margin-bottom:10px;">
                        <h5>基本信息(修改)</h5>
                        {% csrf_token %}
                        <table>
                            <tr>
                                <th>*序号：</th>
                                <td><input type="text" name="serial_id" value="{{ employee.serial_id|default:'无' }}"/> </td>
                                <th>*姓名：</th>
                                <td> <input type="text" name="name" value="{{ employee.name|default:'无' }}"/> </td>
                                <th>性别：</th>
                                <td>
                                    <input type="radio" value="男" name="sex" {% if employee.sex == '男'%}checked{% endif %}/>男
                                    <input type="radio" value="女" name="sex"{% if employee.sex == '女'%}checked{% endif %}/>女
                                </td>
                            </tr>
                            <tr>
                                <th>*email：</th>
                                <td> <input type="text" name="email" value="{{ employee.email|default:'无' }}"/> </td>
                                <th>*出生日期：</th>
                                <td><input type="text" class="txt calendar" id="startDate" style="width:140px;" name="birth" value="{{ employee.birth|date:'Y-m-d' }}"/></td>
                                <th>*身份证号：</th>
                                <td> <input type="text" name="id_no" value="{{ employee.id_no|default:'无' }}"/> </td>
                            </tr>
                            <tr>
                                <th>文化程度：</th>
                                <td>
                                    <select name="edu_level">
                                        <option value="无">无</option>
                                        <option value="小学" {% if employee.edu_level == '小学'%}selected{% endif %}>小学</option>
                                        <option value="初中" {% if employee.edu_level == '初中'%}selected{% endif %}>初中</option>
                                        <option value="高中" {% if employee.edu_level == '高中'%}selected{% endif %}>高中</option>
                                        <option value="中专" {% if employee.edu_level == '中专'%}selected{% endif %}>中专</option>
                                        <option value="本科" {% if employee.edu_level == '本科'%}selected{% endif %}>本科</option>
                                        <option value="硕士" {% if employee.edu_level == '硕士'%}selected{% endif %}>硕士</option>
                                        <option value="博士" {% if employee.edu_level == '博士'%}selected{% endif %}>博士</option>
                                    </select>
                                </td>
                                <th>毕业院校：</th>
                                <td> <input type="text" name="graduate" value="{{ employee.graduate|default:'无' }}"/> </td>
                                <th>专业：</th>
                                <td> <input type="text" name="profession" value="{{ employee.profession|default:'无' }}"/> </td>
                            </tr>
                             <tr>
                                <th>户口性质：</th>
                                <td>
                                    <select name="residence_type">
                                        <option value="农业户口"  {% if employee.residence_type == '农业户口'%}selected{% endif %}>农业户口</option>
                                        <option value="城市户口"  {% if employee.residence_type == '城市户口'%}selected{% endif %}>城市户口</option>
                                    </select>
                                </td>
                                <th>户籍行政区：</th>
                                <td> <input type="text" name="residence_place" value="{{ employee.residence_place|default:'无' }}"/> </td>
                                <th>民族：</th>
                                <td> <input type="text" name="nation" value="{{ employee.nation|default:'无' }}"/> </td>
                            </tr>
                            <tr>
                                <th>现住址：</th>
                                <td colspan="5"> <input type="text" name="now_address" value="{{ employee.now_address|default:'无' }}"/> </td>                        
                            </tr>
                            <tr>
                                <th>*联系电话：</th>
                                <td> <input type="text" name="mobile" value="{{ employee.mobile|default:'无' }}"/> </td>
                                <th>紧急联系人：</th>
                                <td> <input type="text" name="emergency_name" value="{{ employee.emergency_name|default:'无' }}"/> </td>
                                <th>紧急联系人电话：</th>
                                <td> <input type="text" name="emergency_mobile" value="{{ employee.emergency_mobile|default:'无' }}"/> </td>
                            </tr>
                        </table>
                    </div>
                    <h5>详细信息</h5>
                    <table style="width:100%;" id="detail_message">
                       <tr>
                          <th>是否解除劳动关系</th>
                          <td>解除时间</td>
                          <td>解除原因</td>
                      </tr>
                      <tr>
                          <th style="text-align:left;">
                            <input type="radio" name="is_fired" value="1" id="yes" {% if employee.is_fired == 1 %}checked{% endif %}/><span>是</span>
                            <input type="radio" name="is_fired" value="0" id="no" {% if employee.is_fired == 0 %}checked{% endif %}/><span>否</span></th>
                          <td>
                            {% if employee.is_fired == 0 %}
                              <font id="f1"> 无 </font>
                            {% endif %}
                            <input type="text" class="txt calendar" id="startDate2" style="display:{% if employee.is_fired == 0 %}none{% else %}block{% endif %};" name="fired_date" value="{{ employee.fired_date|default:'无' }}"/>
                          </td>
                          <td>
                            {% if employee.is_fired == 0 %}
                              <font id="f2"> 无 </font>
                            {% endif %}
                            <input id="reason"  type="text" class="txt" style="display:{% if employee.is_fired == 0 %}none{% else %}block{% endif %};" name="fired_reason" value="{{ employee.fired_reason|default:'无' }}"/>
                          </td>
                      </tr>
                    </table>
                    
                      <table class="reg-info" style="width:100%;">
                        <tr>
                            <th class="bg-none" style="width:97px;">个人单位信息</th>
                            <td><a href="/labour/employee/{{employee.id}}/contract/"><button type="button">详情</button></a></td>
                        </tr>
                        <tr>
                            <th class="bg-none" style="width:97px;">医疗保险信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/health/" title="详情" style="color:white;"><button type="button">详情</button></a></td>
                        </tr>
                        <tr>
                            <th class="bg-none" style="width:97px;">生育保险信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/born/" title="详情" style="color:white;"><button type="button">详情</button></a></td>
                        </tr>
                        <tr>
                            <th class="bg-none" style="width:97px;">工伤保险信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/industrial/" title="详情" style="color:white;"><button type="button">详情</button></a></td>
                        <tr>
                            <th class="bg-none" style="width:97px;">失业保险信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/unemployeed/" title="详情" style="color:white;"><button type="button">详情</button></a></td>
                        </tr>
                        <tr>
                            <th class="bg-none" style="width:97px;">公积金信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/reserved/" title="详情" style="color:white;"><button type="button">详情</button></a></td>
                        </tr>
                        <tr>
                            <th class="bg-none" style="width:97px;">养老保险信息</th>
                            <td><a href="/labour/employee/{{ employee.id }}/endowment/" title="详情" style="color:white;"><button type="button">详情</button></a></td>                       
                        </tr>
                      </table> 
                  <div>   
                    <button type="submit" style="margin-right:20px;margin-left:308px;margin-top:20px;">确定</button><button>重置</button>
                  </div>  
              </form>   

            </div>               
        </div><!-- w-right -->
{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
    $("#yes").click(function(){
      $("#f1").css("display", "none");
      $("#startDate2").css("display", "block");
      $("#reason").css("display", "block");
    });

    $("#no").click(function(){
      $("#f2").css("display", "none");
      $("#startDate2").css("display", "none");
      $("#reason").css("display", "none");

    });


  </script>
{% endblock %}