{% extends 'base.html' %}  
{% block employee_add %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right">   
            <div class="th-y" style="border:none;">
                <div id="shoudong_two">
                    <div class="th-input" style="width:52%;">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% endif %}

                        {% if form.job_type.errors %}
                            {% for error in form.job_type.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.company_protocal_start.errors %}
                            {% for error in form.company_protocal_start.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.company_protocal_end.errors %}
                            {% for error in form.company_protocal_end.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.labour_contract_start.errors %}
                            {% for error in form.labour_contract_start.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.labour_contract_end.errors %}
                            {% for error in form.labour_contract_end.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.probation_start.errors %}
                            {% for error in form.labour_contract_start.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.probation_end.errors %}
                            {% for error in form.labour_contract_end.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.bank_no.errors %}
                            {% for error in form.bank_no.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.month_salary.errors %}
                            {% for error in form.month_salary.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.real_salary.errors %}
                            {% for error in form.real_salary.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.service_cost.errors %}
                            {% for error in form.service_cost.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% elif form.salary_provide.errors %}
                            {% for error in form.salary_provide.errors %}
                              <div class="alert alert-error">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% endif %}

                         {% for message in messages %}
                            {% if 'contract_update_succ' in message.tags %}
                            <div class="alert alert-block alert-success">
                                {{ message }}
                            </div>
                            {% endif %}

                            {% if 'contract_add_succ' in message.tags %}
                            <div class="alert alert-block alert-success">
                                {{ message }}
                            </div>
                            {% endif %}

                            {% if 'contract_not_exist' in message.tags %}
                            <div class="alert alert-error">
                                {{ message }}
                            </div>
                            {% endif %}
                          {% endfor %}
                        <form action='.' method="post">
                            {% csrf_token %}
                        <table>
                            <tr>
                               <td >工种：</td><td>{{ form.job_type }}</td>
                            </tr>
                            <tr>
                                <td>用工单位：</td>
                                <td style="height:35px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company.name }}
                                </td>
                            </tr>
                            <tr>
                               <td>用工单位地址：</td><td style="height:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company.address|default:'无' }}</td>
                            </tr>
                            <tr>
                               <td>用工单位联系人：</td><td style="height:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company.link_man|default:'无'  }}</td>
                            </tr>
                            <tr>
                               <td>联系人电话：</td><td style="height:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company.link_man_mobile|default:'无'  }}</td>
                            </tr>
                            <tr>
                                <td>单位协议起始日期：</td><td>{{ form.company_protocal_start }}</td>
                            </tr>
                            <tr>
                               <td>单位协议终止日期：</td><td>{{ form.company_protocal_end }}</td>
                            </tr>
                            <tr>
                               <td>劳动合同起始日期：</td><td>{{ form.labour_contract_start }}</td>
                            </tr>
                            <tr>
                               <td>劳动合同终止日期：</td><td>{{ form.labour_contract_end }}</td>
                            </tr>
                            <tr>
                               <td>试用期起始日期：</td><td>{{ form.probation_start }}</td>
                            </tr>
                            <tr>
                               <td>试用期终止日期：</td><td>{{ form.probation_end }}</td>
                            </tr>
                            <tr>
                               <td>银行卡号：</td><td>{{ form.bank_no }}</td>
                            </tr>
                            <tr>
                              <td>月工资：</td><td>{{ form.month_salary }}元</td>
                            </tr>
                            <tr>
                               <td>实发工资：</td><td>{{ form.real_salary }}元</td>
                            </tr>
                            <tr>
                                <td>服务费：</td><td style="height:25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company.service_cost|default:'无' }}元</td>
                            </tr>
                            <tr>
                                 <td>工资发放时间：</td><td>{{ form.salary_provide }}</td>
                            </tr>
                        </table>
                        <button type="submit" class="return_button">确认保存</button>

                        <a href="/labour/employee/{{ employee.id}}/update/" title="返回"><button type="button">返回</button></a>
                        </form>
                        
                    </div>
                </div>               
            </div>               
        </div>
    </div><!--wrapper END-->
{% endblock %}
