<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一达人力资源_管理系统</title>
<link href="style/reset.css" rel="stylesheet" type="text/css" />
<link href="style/style.css" rel="stylesheet" type="text/css" />
<link href="style/public.css" rel="stylesheet" type="text/css" />
<link href="style/lhgcalendar.css" rel="stylesheet" type="text/css" />
<script src="script/jquery.min.js"></script>
<script src="script/lhgcalendar.min.js"></script>
<script src="script/back.js"></script>
</head>

<body>
    <div class="top-area">
            <div class="top">
                <span class="rt" id="hl1"></span>			
                <span id="hl2">
                    Hi，admin&nbsp;&nbsp;&nbsp;角色：[系统管理员]&nbsp;&nbsp;<a href="#">退出</a>
                </span>
            </div>
    </div><!--top-area-->
    
    <div class="logo-area">
        <div class="admin_logo"></div>
    </div><!--logo-area-->
    <div class="wrapper">	
        <div class="w-left">
        	<ul>
                <li title="账号管理">
                    <a href="javascript:;" class="zhanghao_manage"><i></i>账号管理</a>
                    <ul class="w-left-inner">
                        <li class="left_inner">账号管理</li>
                        <li class="left_inner">账号分配</li>
                    </ul>
                </li>
                <li title="操作日志管理"><a href="javscript:;" class="zhanghao_manage">操作日志管理</a></li>
            </ul>
        </div>
        <div class="w-right">
            <div>
                <table class="reg-info">
                    <tr>
                        <th>权限</th>
                        <td>账号用户名</td>
                        <td>重置密码</td>
                        <td>删除账号</td>
                    </tr>
                    <tr>
                        <th>管理员</th>
                        <td>root</td>
                        <td><button>重置</button></td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            
                <div class="pager">
                    <span class="fr">
                        共有<span class="red">100</span>条信息，每页<span class="red">20</span>条，当前<span class="red">1/5</span>页
                    </span>
                    <a href="#">【首页】</a>
                    <a href="#">【上一页】</a>
                    <a href="#">【下一页】</a>
                    <a href="#">【尾页】</a>
                </div>
            </div>   
            <div style="display:none;">
                <div class="th-input-manage">
                  <span>账号名称：</span><input class="txt_input" type="text" name="id"/><br/>
                  <span>账号密码：</span><input class="txt_input" type="text" name="password" /><br/>
                  <span>再次输入：</span><input class="txt_input" type="text" name="equalTo" /><br/>
                  <span>账号权限：</span><input type="radio" name="power" value="manager" class="manager">
                  <span>管理员</span><input type="radio" name="power" value="operator" class="manager">
                  <span>前台管理员</span><input type="radio" name="power" value="worker" class="manager">
                  <span>企业人员</span>
                  <br/>
                  <button class="make_sure">确认添加</button>
                </div>  
            </div>
            <div id="operate" style="display:none;">
                <table class="reg-info">
                    <tr>
                        <th>操作IP</th>
                        <td>操作账号</td>
                        <td>操作内容</td>
                        <td>操作时间</td>
                        <td>是否删除</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button>删除</button></td>
                    </tr>
                </table>
                <div class="pager">
                    <span class="fr">
                        共有<span class="red">100</span>条信息，每页<span class="red">15</span>条，当前<span class="red">1/5</span>页
                    </span>
                    <a href="#">【首页】</a>
                    <a href="#">【上一页】</a>
                    <a href="#">【下一页】</a>
                    <a href="#">【尾页】</a>
                </div>
            </div>
        </div>
    </div><!--wrapper END-->
</body>
</html>
