{% extends 'base.html' %}  
{% block add %} display:block {% endblock %} 
{% block employee_import %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right" style="height:260px;position:relative;">
            <div class="bulk_reset">
                {% for message in messages %}
                <div class="alert alert-block alert-error">
                    {{ message }}
                </div>
                {% endfor %}
	            <p>请按照正确格式进行批量录入</p>
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="labour_import"/>
                    <button type="submit">批量录入</button>
                </form>
                <br>
                {% if name_id_no %}
                <h3 style="color:red">已存在的职员</h3>
                <br>
                <table border="1">
                    <tr>
                        <th>姓名</th>
                        <th>身份证号</th>
                    </tr>
                    {% for key, value in name_id_no.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <a href="/static/excel/导入模板.xlsx" style="margin-left:200px;">导入模板下载</a>
            </div>
        </div>
    </div><!--wrapper END-->
{% endblock %}