{% extends 'base.html' %}  
{% block search %} display:block {% endblock %} 
{% block employee_search %} inner_on {% endblock %} 
{% block container %} 
        <div class="w-right">
                <div class="th-input" style="width:42%">
                  <form action='.' method="get">
                      <span class="ml24">姓名：</span><input class="txt_input" type="text" name="name"/><br/>
                      <span>身份证号：</span><input class="txt_input" type="text" name="id_no" /><br/>
                      <span>医保卡号：</span><input class="txt_input" type="text" name="health_card" /><br/>
                      <input type="hidden" value="0" name="search"/>
                      <button style="submit" class="make_sure" style="margin:10px 0px 0px 120px">查询</button>
                  </form>
                </div>  

              <table class="reg-info">
                  <tr>
                      <th><button style="margin:5px 0.1em 5px 0px;" class="select_second">全选</button></th>
                      <td>姓名</td>
                      <td>身份证号</td>
                      <td>单位</td>
                      <td>解除劳动合同时间</td>
                      <td>解除劳动合同原因</td>
                      <td>详情</td>
                  </tr>
                  {% for employee in employees %}
                  <tr>
                      <th><input type="checkbox" name="all_person" class="h37"></th>
                      <td> {{ employee.name }} </td>
                      <td> {{ employee.sex }} </td>
                      <td> {{ employee.id_no }} </td>
                      <td> {{ employee.health_card }} </td>
                      <td> {{ employee.company.name }} </td>
                      <td><a href="/labour/employee/{{ employee.id }}/update/"><button type="button">员工详情</button></a></td>

                  </tr>
                  {% endfor %}
                  {% if not employees %}
                    <tr>
                      <td colspan='7' style="height:40px;color:red">未搜索到数据</td>
                    </tr>
                  {% endif %}
                </table> 
                <div class="pager">
                 <span class="fr">
                     <button>导出</button>
                     <button>缴费管理</button>
                 </span>
                 <a href="#">【首页】</a>
                 <a href="#">【上一页】</a>
                 <a href="#">【下一页】</a>
                 <a href="#">【尾页】</a>
                </div>            
        </div>
    </div><!--wrapper END-->
{% endblock %}