<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一达人力资源_管理系统</title>
<link href="style/reset.css" rel="stylesheet" type="text/css" />
<link href="style/style.css" rel="stylesheet" type="text/css" />
<link href="style/public.css" rel="stylesheet" type="text/css" />
<link href="style/lhgcalendar.css" rel="stylesheet" type="text/css" />
<script src="script/jquery.min.js"></script>
<script src="script/lhgcalendar.min.js"></script>
<script src="script/all.js"></script>
</head>

<body>
    <div class="top-area">
            <div class="top">
                <span class="rt" id="hl1"></span>			
                <span id="hl2">
                    Hi，admin&nbsp;&nbsp;&nbsp;角色：[系统管理员]&nbsp;&nbsp;<a href="#">退出</a>
                </span>
            </div>
    </div><!--top-area-->
    
    <div class="logo-area">
        <div class="logo"></div>
    </div><!--logo-area-->
    <div class="wrapper">	
        <div class="w-left">
        	  <ul>
                <li><a href="javascript:;" class="big_txt"><span class="logo_small_one"></span>劳务管理</a>
                    <ul class="big_txt_inner">
                        <li title="劳务信息登记">
                            <a href="javascript:;" class="small_txt"><i></i>劳务信息登记</a>
                            <ul class="w-left-inner" style="display:block;">
                                <li class="inner_txt inner_on"><a href="man_print.html" title="手动录入" style="color:#222222;">手动录入</a></li>
                                <li class="inner_txt"><a href="bulk_print.html" title="批量录入" style="color:#222222;">批量录入</a></li>
                            </ul>
                        </li>
                
                        <li title="劳务信息查询">
                           <a href="javscript:;" class="small_txt"><i></i>劳务信息查询</a>
                           <ul class="w-left-inner">
                               <li class="inner_txt"><a href="official_search.html" title="单位查询" style="color:#222222;">单位查询</a></li>
                               <li class="inner_txt"><a href="person_search.html" title="个人查询" style="color:#222222;">个人查询</a></li>
                           </ul>
                        </li>
                        <li title="劳务信息统计"><a href="ms_tongji.html" class="small_txt_tongji">劳务信息统计</a></li>
                        <li title="历史劳务信息查询"><a href="history_check.html" class="small_txt_tongji" style="text-indent:42px;">历史劳务信息查询</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" class="big_txt"><span class="logo_small_two"></span>财务管理</a>
                    <ul style="display:none;" class="big_txt_inner">
                        <li title="企业资金管理"><a href="corp_money.html" class="small_txt_tongji">企业资金管理</a></li>
                        <li title="工资管理">
                            <a class="small_txt" style="text-indent:75px;"><i></i>工资管理</a>
                            <ul class="w-left-inner">
                                <li class="inner_txt"><a href="salary_manage.html" title="查询" style="color:#222222;margin-left:15px;">查询</a></li>
                                <li class="inner_txt"><a href="bulk_modify.html" title="批量修改" style="color:#222222;">批量修改</a></li>
                            </ul>
                        </li>
                        <li title="社保资金管理">
                            <a href="javascript:;" class="small_txt">社保资金管理</a>
                            <ul class="w-left-inner">
                                <li class="inner_txt"><a href="bulk_modify.html" title="批量修改" style="color:#222222;">批量修改</a></li>
                            </ul>
                        </li>   
                    </ul>
                </li>
            </ul>
        </div>
        <div class="w-right"> 
            <div class="th-y" style="border:none;">
            	    <div style="border: #b6c0c9 1px solid;padding-bottom: 5px;margin-bottom:10px;">
	            		<h5>基本信息</h5>
		                <table>
		                	<tr>
		                    	<th>序号：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>姓名：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>性别：</th>
		                        <td><input type="text" class="txt" /></td>
		                    </tr>
		                    <tr>
		                    	<th>民族：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>出生日期：</th>
		                        <td><input type="text" class="txt calendar" id="startDate" style="width:140px;"></td>
		                        <th>身份证号：</th>
		                        <td><input type="text" class="txt" /></td>
		                    </tr>
		                    <tr>
		                    	<th>文化程度：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>毕业院校：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>专业：</th>
		                        <td><input type="text" class="txt" /></td>
		                    </tr>
		                     <tr>
		                    	<th>户口性质：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>户籍行政区：</th>
		                        <td><input type="text" class="txt" /></td>
		                    </tr>
		                    <tr>
		                    	<th>现住址：</th>
		                        <td colspan="5"><input type="text" class="txt" style=" width:412px;" /></td>                        
		                    </tr>
		                    <tr>
		                    	<th>联系电话：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>紧急联系人：</th>
		                        <td><input type="text" class="txt" /></td>
		                        <th>电话：</th>
		                        <td><input type="text" class="txt" /></td>
		                    </tr>
		                </table>
		            </div>
                    <h5>详细信息</h5>
                    <table style="width:100%;" id="detail_message">
                       <tr>
                          <th>是否解除劳动关系</th>
                          <td>解除时间</td>
                          <td>解除原因</td>
                      </tr>
                      <tr>
                          <th style="text-align:left;"><input type="radio" name="true" value="是"><span>是</span>
                          <input type="radio" name="true" value="是"><span>否</span></th>
                          <td>&nbsp</td>
                          <td>&nbsp</td>
                      </tr>
                    </table>
	                  <table class="reg-info" style="width:100%;">
	                    <tr>
	                        <th class="bg-none" style="width:97px;">个人单位信息</th>
	                        <td><button>详情</button></td>
	                    </tr>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">医疗保险信息</th>
	                        <td><button><a href="yiliao_ms.html" title="详情" style="color:white;">详情</a></button></td>
	                    </tr>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">生育保险信息</th>
	                        <td><button><a href="shengyu_ms.html" title="详情" style="color:white;">详情</a></button></td>
	                    </tr>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">工伤保险信息</th>
	                        <td><button><a href="gongshang_ms.html" title="详情" style="color:white;">详情</a></button></td>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">失业保险信息</th>
	                        <td><button><a href="shiye_ms.html" title="详情" style="color:white;">详情</a></button></td>
	                    </tr>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">公积金信息</th>
	                        <td><button><a href="gongjijin_ms.html" title="详情" style="color:white;">详情</a></button></td>
	                    </tr>
	                    <tr>
	                        <th class="bg-none" style="width:97px;">养老保险信息</th>
	                        <td><button><a href="yanglao_ms.html" title="详情" style="color:white;">详情</a></button></td>                       
	                    </tr>
	                  </table> 
                  <div>   
                    <button style="margin-right:20px;margin-left:308px;margin-top:20px;">确定</button><button>重置</button>
                  </div>       
            </div>               
        </div>
    </div><!--wrapper END-->
</body>
</html>